body {
  text-align: center;
  background-color: rgb(248, 219, 219);
}

h1 {
  font-size: 120px;
}

.title {
  font-weight: bold;
  text-decoration: underline;
}

#container {
  display: flex;
  /* border: 1px red solid; */
  border-radius: 5px;
  justify-content: space-evenly;
  font-size: 30px;
}

button {
  width: 240px;
  background-color: aqua;
  border-radius: 15px;
  font-size: 30px;
}
